<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">
        <img src="https://sass-lang.com/assets/img/styleguide/color-1c4aab2b.png" alt="logo" style="width:45px;">
    </a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="scssDemo" href="#">Template</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="scssOverview" href="#">About SCSS</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>