<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-12 box-container pt-4">
            <h3>Overview</h3>
            <p>
                <b>SASS (Syntactically Awesome Stylesheet)</b> is a CSS pre-processor, which helps to reduce repetition with CSS and saves time. It is more stable and powerful CSS extension language that describes the style of document structurally. SCSS
                lets you use features that aren't a part of the CSS standard yet, and provides better workflows for maintaining your stylesheets.
            </p>
            <p>
                Sass has two syntaxes, The most commonly used syntax is known as “SCSS”, and is a superset of CSS3’s syntax. This means that every valid CSS stylesheet is a valid SCSS file with the same meaning. SCSS files use the extension .scss & the second, older
                syntax is known as the indented syntax (or just “.sass”). Inspired by Haml’s terseness, it’s intended for people who prefer conciseness over similarity to CSS. Instead of brackets and semicolons, it uses the indentation of lines to specify
                blocks. Files in the indented syntax use the extension .sass.
            </p>
            <p>
                SCSS is a special type of file for SASS, a program written in Ruby that assembles CSS style sheets for a browser, and for information SASS adds lots of additional functionality to CSS which can make writing CSS easier and faster. SCSS files are processed
                by the server running a web app to output a traditional CSS that your browser can understand.
            </p>
            <p>
                SASS lets you use <b> variables, mathematical operations, mixins, loops, functions, imports </b> and other interesting functionalities that make writing CSS much more powerful. In some ways, you may think of SASS as a style sheet extension
                language because it extends the standard CSS characteristics by introducing the benefits of a basic programming language. So SASS will compile your code and generate the CSS output a browser can understand.
            </p>
            <p><b>Indented Syntex:</b> The indented syntax was Sass’s original syntax, and so it uses the file extension .sass. Because of this extension, it’s sometimes just called “Sass”. The indented syntax supports all the same features as SCSS, but
                it uses indentation instead of curly braces and semicolons to describe the format of the document.</p>
            <p>
                SASS was the primary syntax long time ago. It used indentation instead of brackets and semicolons. SCSS is the newer syntax, and it's easier to read & understand. If we talk about Sass today we actually mean SCSS.
            </p>
            <div>
                <img src="https://i.ibb.co/pwc4xYH/sass-vs-scss.png" alt="sass-Vsscss">
            </div>
            <br>
            <p>
                A program/tool that has its own syntax which gets compiled later in standard CSS code. A preprocessor has its own syntax for developers to write easier and cleaner CSS code. Later, it gets translated in a separate file to standard CSS, because browsers
                don’t understand the syntax. There are different preprocessors like Sass, Less etc.
            </p>
            <p>
                Sass (Syntactically Awesome StyleSheets) have two syntaxes: So they are both part of Sass preprocessor with two different possible syntaxes. The most important difference between SCSS and original Sass:
            </p>
            <ul>
                <li>
                    newer: SCSS (Sassy CSS)
                </li>
                <li>
                    older, original: indent syntax, which is the original Sass and is also called Sass.
                </li>
            </ul>
            <hr>
            <h3>
                Difference between SCSS & SASS
            </h3>
            <h4>SCSS</h4>
            <ul>
                <li>Syntax is similar to CSS (every regular valid CSS3 is also valid SCSS)</li>
                <li>Uses braces</li>
                <li>Uses semi-colon ;</li>
                <li>Assignment sign is :</li>
                <li>To create a mixin it uses the @mixin directive</li>
                <li>To use mixin it precedes it with the @include directive</li>
                <li>Files have the .scss extension.</li>
            </ul>
            <h4>SASS</h4>
            <ul>
                <li>Syntax is similar to Ruby</li>
                <li>No braces</li>
                <li>No strict indentation</li>
                <li>No semi-colons</li>
                <li>Assignment sign is = instead of :</li>
                <li>To create a mixin it uses the = sign</li>
                <li>To use mixin it precedes it with the + sign</li>
                <li>Files have the .sass extension.</li>
            </ul>
            <hr>


            <div class="box-container inner">
                <h3>Variables</h3>
                <p>
                    Through variables you assign a value to a name that begins with $, and then you can refer to that name instead of the value itself. But despite their simplicity, they're one of the most useful tools Sass brings to the table. Variables make it possible
                    to reduce repetition, do complex math, configure libraries, and much more.
                </p>
                <img src="https://i.ibb.co/XxS5cxL/variables-Scss.png" alt="variables-Scss">
                <img src="https://i.ibb.co/8zDT5FF/variables-CSS.png" alt="variables-CSS">
            </div>
            <div class="box-container inner">
                <h3>Inheritance</h3>
                <p>
                    This is one of the most useful features of Sass. Using @extend lets you share a set of CSS properties from one selector to another. It helps keep your Sass very DRY. In our example we're going to create a simple series of messaging for errors, warnings
                    and successes using another feature which goes hand in hand with extend, placeholder classes. A placeholder class is a special type of class that only prints when it is extended, and can help keep your compiled CSS neat and clean.
                </p>
                <img src="https://i.ibb.co/LhpZ18x/inheritance-SCSS.png" alt="inheritance-SCSS">
                <img src="https://i.ibb.co/d2D1kk1/inheritance-CSS.png" alt="inheritance-CSS">
            </div>
            <div class="box-container inner">
                <h3>Modularization</h3>
                <P>
                    It helps to write all your Sass in a single file. You can split it up however you want with the @use rule. This rule loads another Sass file as a module, which means you can refer to its variables, mixins, and functions in your Sass file with a namespace
                    based on the filename. Using a file will also include the CSS it generates in your compiled output!
                </P>
                <img src="https://i.ibb.co/Mk506Gk/modularization-SCSS.png" alt="modularization-SCSS">
                <img src="https://i.ibb.co/mHzDK7F/modularizaiton-CSS.png" alt="modularizaiton-CSS">
            </div>
            <div class="box-container inner">
                <h3>Nesting</h3>
                <p>
                    When writing HTML you've probably noticed that it has a clear nested and visual hierarchy. CSS, on the other hand, doesn't. Sass will let you nest your CSS selectors in a way that follows the same visual hierarchy of your HTML. Be aware that overly nested
                    rules will result in over-qualified CSS that could prove hard to maintain and is generally considered bad practice.
                </p>
                <img src="https://i.ibb.co/KGV5g2d/nesting-Scss.png" alt="nesting-Scss">
                <img src="https://i.ibb.co/ZTkHjSV/nesting-CSS.png" alt="nesting-CSS">
            </div>
        </div>
    </div>
</div>