$navbarcolor: #0469a1 !important;
$textcolor: #000 !important;
$fontsize: 14px;
$primary1: #fff!important;
$primary2: #4d4e4f !important;
$primary3: #258fc1 !important;
$myFont: fantasy !important;
@mixin bordered($color, $width) {
    border: $width solid $color;
}

@mixin important-text {
    color: #17a2b8;
    font-size: 18px;
    font-weight: bold;
}

.button-report {
    @extend .button-basic;
    background-color: #e86060;
}

.button-submit {
    @extend .button-basic;
    background-color: #4c974c;
    color: white;
}

.myArticle {
    @include bordered(blue, 4px);
}

.myNotes {
    @include bordered(red, 2px);
}

.danger {
    @include important-text;
    background-color: #b7dfed;
}

.w3-button {
    &:hover {
        color: #fff!important;
        background-color: rgb(39, 146, 132)!important;
    }
}

.button-basic {
    border: none;
    padding: 15px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0px 5px;
}

.w3-theme-d2 {
    background-color: $navbarcolor;
}

.w3-theme-d4 {
    background-color: $primary3;
}

.w3-white {
    color: $textcolor;
    background-color: $primary1;
}

.w3-theme-l1 {
    background-color: $primary2;
}

.w3-top {
    position: static;
}

.w3-theme-l5 {
    background-color: transparent !important;
}

.w3-container {
    padding: 1.2em 16px;
}

.w3-bar {
    border-radius: 10px 10px 0px 0px;
}