<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 box-container">
            <div class="form-group">
                <label for="txtTextToConvert">Encrypted Text</label>
                <input type="text" class="form-control" placeholder="Enter text you want to decrypt" [(ngModel)]="encryptText">
            </div>

            <div class="form-group">
                <label for="txtPassword">Password</label>
                <input type="password" class="form-control" placeholder="Enter decryption password" [(ngModel)]="decPassword">
            </div>

            <div class="form-group">
                <textarea class="form-control" readonly rows="3">{{conversionDecryptOutput}}</textarea>
            </div>

            <button type="button" mat-raised-button class="float-right" (click)="convertText('decrypt')">Decrypt<i class="material-icons">lock_open</i></button>
        </div>
        <div class="col-md-4 d-flex justify-content-center align-items-center imgContainer">
            <!-- <img src="https://drive.google.com/uc?id=1AjiH3y2BGlPbe7aMZKK9TB5eF6DMyECT"> -->
        </div>
    </div>
</div>